
spring:
  application:
    name: acme-identity
  cloud:
    config:
      enabled: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: "Needed value for Bean Initializer this comes from Config Server"

  config:
    import:
      - configserver:http://localhost:8888

